@charset "utf-8";
/* CSS Document */


.bg {
    padding: 5% 15% 50% 15%;      /* 余白指定 */
    text-align:  center;        /* 中央寄せ */
    background-color:  #ddd;    /* 背景色指定 */
    height: 100px;              /* 高さ指定 */
	font-family:serif;
}
.box {
    padding: 5% 10%;      /* 余白指定 */
    text-align:  center;        /* 中央寄せ */
	
    background-color:  #ddd;    /* 背景色指定 */
    height: 100px;              /* 高さ指定 */
	font-family:serif;
}
.texcen{
	padding: 5% 10%;              /* 余白指定 */
    background-color:  #ddd;
}

.mess{
	text-align-last: left;
}

.sign{
	text-align: right;
}

.day{
	text-align: left;
}
.goho{
	font-size: 1.6em;
}

body {
	background-color:  #ddd;
    animation: fadeIn 2s ease 0s 1 normal;
    -webkit-animation: fadeIn 2s ease 0s 1 normal;
}

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}